# On Build
ci/
src/
esbuild.log
.releaserc.json
dist/fdir-size-*

# GitHub
.github/
configs/
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md

# VSCode & Dev Stuff
.vscode/
tsconfig.json
.prettierignore
tests/
eslint.config.mjs