# On Build
ci/
src/
esbuild.log
.releaserc.json
dist/fdir-size-*

# GitHub
.github/
configs/
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
 
# VSCode & Dev Stuff
tests/
.vscode/
tsconfig.json
.prettierignore
import_map.json
eslint.config.mjs